# Various host binary executables
host/*.exe
host/*.log

# The build directory for xclbin
fpga/build
fpga/afi

# Various files generated in testing
test/*.exe
test/*.log
test/*.exe
test/*.run
test/emconfig.json
test/*.csv
test/xrt.ini
test/*.protoinst
test/*.wcfg
test/*run_summary
test/*.wdb
test/input.points
test/output.points
test/host_buckets

# vim stuff
*.swp
*.swo
