[connectivity]
stream_connect=krnl_mm2s_1.out:krnl_loopback_1.host_to_fpga
stream_connect=krnl_loopback_1.fpga_to_host:krnl_s2mm_1.in

[vivado]
# The property below will force xsim to trace all signals in simulation
prop=fileset.sim_1.xsim.elaborate.debug_level=all
