kernel_frequency=250  # In Mhz

[connectivity]
stream_connect=krnl_controller_1.controller_to_compute:krnl_reverse_1.controller_to_compute
stream_connect=krnl_reverse_1.compute_to_controller:krnl_controller_1.compute_to_controller
sp=krnl_controller_1.m_axi_gmem_a:HBM[0]
sp=krnl_controller_1.m_axi_gmem_b:HBM[1]

[vivado]
# The property below will force xsim to trace all signals in simulation
prop=fileset.sim_1.xsim.elaborate.debug_level=all
